/* ---- General Styles ---- */

body
	width: 95%
	height: 100%
	margin: 0 auto
	padding: 0
	font-family: "Arial-Narrow", sans-serif

img
	max-width: 100%
	

a
	text-decoration: none


/* ---- Page Structure ---- */

#wrap
	position: relative
	width: 100%
	height: 100%
	margin: 0 auto
	background-color: #FFFFFF

header
	position: relative
	width: 100%
	height: 100px

nav
	position: relative
	width: 100%
	height: 40px

main
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	height: 100%
	margin: 0

footer
	position: relative
	display: flex
	flex-direction: column
	width: 100%
	height: auto
	margin-top: 10px
	background-color: #000000


/* ------- Header ------- */
#header
	display: flex
	flex-direction: row
	justify-content: space-between	
	align-items: center
	width: 100%
	height: 100%	
	background-color: #FFF3F3

	div
		height: auto
		padding: 0 20px
		

	img
		max-width: 100%
		

/* ------- Navigation Bar ------- */

#nav
	display: flex	
	align-items: center
	width: 100%
	height: 100%	
	background-color: #8E1616	

	ul
		display: flex
		flex-direction: row
		align-items: center
		margin: 0
		padding: 0 20px

	li			
		padding-right: 1em
		list-style: none

	a
		font-size: 110%
		color: white

	a:hover
		font-weight: bold
		


/* ------------ Main ------------ */
main
	#pic
		background-color: #CECECE

	#text
		padding: 2em
		background-color: #CECECE
		text-align: center

		h1, p
			margin: 0

	#headline
		top: 20px
		position: absolute
		margin: 0 auto
		width: 75%
		color: white

	#form
		top: 50px
		position: absolute
		display: flex
		justify-content: center
		flex-direction: row
		flex-wrap: wrap
		margin: 0 auto
		width: 70%
		border: 1.5px solid #818181
		border-radius: 4px
		background-color: white
		opacity: 0.85

		h1
			width: 100%
			text-align: center

		form
			width: 45%
			margin: 10px 0

			input
				border: 0.5px solid #B6B6B6
				border-radius: 2px

		div
			display: flex
			justify-content: center
			width: 100%

		#btn
			input
				margin-top: 10px
				border: 1px solid #339235
				border-radius: 4px
				padding: 1px 1em
				background-color: #339235
				opacity: 1
				font-size: 110%
				color: white

		#hide
			p
				text-align: center
				font-size: 110%
				color: #339235









/* ----------- Footer ----------- */				
footer
	ul
		display: flex
		flex-direction: row
		align-items: center
		margin: 10px 0
		padding: 0 20px

	li			
		padding-right: 1em
		list-style: none

	a
		font-size: 100%
		color: white

	a:hover
		font-weight: bold
		

	#logoFoot
		display: flex
		margin-right: 20px

	p
		margin: 10px 0 
		text-align: center
		font-size: 80%
		color: white


/* ---------- Media Queries ---------- */

@media screen and (min-width: 801px)
	main
		

		

			

	#logoFoot
		justify-content: flex-end
		margin-right: 20px	
	



@media screen and (min-width: 481px) and (max-width: 800px)
				
			
	#logoFoot
		justify-content: flex-end
		margin-right: 20px




@media screen and (max-width: 480px)
	

	#nav, #navFoot
		justify-content: center

	

	footer
		ul
			justify-content: center

		#logoFoot
			justify-content: center
			margin: 0