#main
	display: flex
	justify-content: center
	flex-wrap: wrap
	width: 90%

	.member
		width: 90%
		display: flex		
		margin: 30px
		

		.img
			display: flex
			justify-content: center
			
			width: 90px

		.data
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center
			margin: 10px
			border: 0.5px solid #818181
			border-radius: 3px
			

			.bold
				width: 20%
				margin-left: 10px
				font-weight: bold

			.text
				width: 70%

@media screen and (min-width: 831px)
	.member		
		justify-content: space-between
		margin: 30px

		.data
			width: 80%



@media screen and (max-width: 570px)
	.member
		justify-content: center
		flex-wrap: wrap

		.data
			width: 95%
